[Unit]
Description=Tasker for Linux Desktop
Documentation=https://github.com/pschmitt/tasker-for-linux

[Service]
ExecStart=/home/pschmitt/devel/private/tasker-for-linux/tasker.sh
Restart=always
RestartSec=3

[Install]
WantedBy=basic.target
